@import "~antd/lib/style/themes/default.less";

.pageHeader {
  background: #fff;
  padding: 18px 28px 0 36px;
  border-bottom: 1px solid @border-color-split;

  .detail {
  	display: flex;
  	margin-bottom: 16px;
  }

  .row {
		display: flex;
	}

  .breadcrumb {
		margin-bottom: 18px;
	}

	.tabs {
		margin: 24px 0 -17px -8px;

		:global {
			.ant-tabs-bar {
				border-bottom: 1px solid #e9e9e9;
			}
		}
	}

	.logo {
		flex: 0 0 28px;
		margin-right: 16px;
		padding-top: 1px;

		img {
			width: 28px;
			height: 28px;
		}
	}

	.title {
		font-size: 20px;
		font-weight: 600;
		color: @heading-color;
	}

	.action {
		margin-left: 88px;
		button:not(:last-child) {
			margin-right: 8px;
		}
	}

	.title, .action, .content, .extraContent, .main {
		flex: auto;
	}

	.content, .extraContent {
		margin-top: 16px;
	}

	.action, .extraContent {
		text-align: right;
	}

	.extraContent {
		margin-left: 88px;
		min-width: 242px;
	}
}

