@import "~antd/lib/style/themes/default.less";

.card {
  margin-bottom: 24px;
}

.heading {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 16px 0;
}

.divider {
  border: 0;
  border-top: 1px dashed @border-color-split;
  height: 1px;
  margin: 0 0 16px 0;
}

.stepContainer {
  width: 70%;
  margin: 0 auto;
}

.stepForm {
  margin: 40px 0;
}
