@import "~antd/lib/style/themes/default.less";

.card {
  margin-bottom: 24px;
}

.heading {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 16px 0;
}

.steps {
  max-width: 750px;
  margin: 16px auto;
}

.divider {
  border: 0;
  border-top: 1px solid @border-color-split;
  height: 1px;
  margin: 0 0 24px 0;
}
