.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
  color: #fff;
}

.logo {
  height: 64px;
  background: #108ee9;
  position: relative;
  margin-bottom: 24px;

  &:after {
    position: absolute;
    height: 32px;
    top: 16px;
    left: 16px;
    width: ~"calc(100% - 32px)";
    background: rgba(255,255,255,.2);
    content: '';
  }
}

.header {
  background: #108ee9;
  padding: 0;
}

:global {
  .ant-layout-sider-collapsed {
    .ant-menu-item,
    .ant-menu-submenu-title {
      text-align: center;
      .anticon {
        font-size: 16px;
      }
    }

    .ant-menu-submenu-title:after {
      display: none;
    }

    .ant-menu-sub {
      .ant-menu-item,
      .ant-menu-submenu-title {
        text-align: left;
        .anticon {
          font-size: 14px;
        }
      }
      .ant-menu-submenu-title:after {
        display: block;
      }
    }
  }
}

:global(.ant-layout-sider-collapsed) {
  .navText {
    display: none;
  }
}
