.header {
  background: #108ee9;
  padding: 0 24px;
  color: #fff;
}

.logo {
  height: 64px;
  position: relative;
  padding-top: 12px;
  margin-bottom: 24px;
  line-height: 64px;
  text-align: center;
  background: #108ee9;
  overflow: hidden;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color .3s;
  color: #fff;
}

.right {
  float: right;
  .avatar {
    margin: 0 8px;
    vertical-align: middle;
    color: #108ee9;
    background: rgba(255, 255, 255, .85);
  }
  .action {
    cursor: pointer;
    padding: 0 8px;
    margin-right: 16px;
    font-size: 16px;
    vertical-align: middle;
  }
}
